<% provide(:title, "Home") %>

<p>
  Estas en el inicio de la mejor web del mundo
</p>

<div class="center jumbotron">
  <h1>Bienvenido a Kuora</h1>

  <h2>
    Qué estás esperando para registrarte, es gratis !!!
  </h2>

  <%= link_to "Registrate ahora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%#= image_tag("kitten.jpg", alt: "kitten") %>